
:root{
    ---font-family:"Inter", sans-serif;
    --font-color:#FFFFFF: 
}


*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(---font-family);
    background-color:white; 
}


header{
    margin: 1rem auto ;
    padding: 0 3rem;
    position: relative;
    /* border: 1px solid black; */
    height: 76px; 
    max-width:100%;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    
}

#heure{
    font-weight: 300;
    color:rgba(0, 0, 0, 0.696); 
    font-size: 2rem;
}

nav .links{
    display: flex;
}

nav .links li{
    list-style: none;
}
nav .links li a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

main{
    min-height: 70vh;
    height: 10%;
    max-width: 100%;
    position:relative; 
}
span{
    color: white;
}
/* SECTION ABOUT */
section{
 cursor: pointer;
  border-radius:17px;
  padding: 1.6rem 0;
  width: 100%;
  max-height: 100vh;
  color: rgba(255, 255, 255, 0.723);
}

section.about{
background-color:#21478d95;
}  


.entete{
    display: flex;
    justify-content: space-between;
}
.titre{
    font-size: 3rem;
}

.titre::after{
    position: absolute;
    content: "";
    top:2.5rem; 
    left: 17.5rem;
    background-color:rgba(255, 255, 255, 0.693) ;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}


.number-fleche{
    /* border: 1px solid black; */
    width: 250px;
    display: flex;
    text-align: center;
    justify-content:space-around;
    margin-right:4rem ;
}

.number-fleche p{
    font-size: 2rem;
}
 /* arrow */
#arrow{
    opacity: 1;
    margin-top: -1rem;
    font-size: 4rem;
    transition: transform  0.5s ease;
}

#arrow.turn{
     transform : rotate(180deg); 
     transition: transform 0.5s ease;
}



#arrow1{
    opacity: 1;
    margin-top: -1rem;
    font-size: 4rem;
    transition: transform  0.5s ease;

}

#arrow1.turn{
    transform : rotate(180deg); 
    transition: transform 0.5s ease;
}


#arrow2{
    opacity: 1;
    margin-top: -1rem;
    font-size: 4rem;
    transition: transform  0.5s ease;

}

#arrow2.turn{
    transform : rotate(180deg); 
    transition: transform 0.5s ease;
}

    
#arrow:hover,#arrow1:hover,#arrow2:hover{
    color: white;
}

.paragraphes{

    /* border:1px solid black;  */
    font-size: 2.5rem;
    width: 55%;
    margin-left: 2rem;
    margin-top: 4rem;
    font-weight: 500;

}




.date{
    margin-left: 60rem;
    font-size: 11rem;
    /*border:1px solid black;*/
    height: 250px;
}


section.work{
 background-color:#f65151;
 position: relative;
 bottom: 25rem;
 transition: bottom 0.5s ease;
}

.mot{
    /* border: 1px solid black; */
    display: inline-block;
    margin-top: 1rem;
    margin-left: 60rem;
    font-size: 3rem;
    height: 350px;
}


section.fashion{
    position: relative;
    bottom: 40rem;
    background-color:#a7a7a7;
    z-index: 3;
    transition: bottom 0.5s ease;       
   }


   section.fashion.down{
    bottom: 20rem;
    transition: bottom 0.5s ease;     
   }


.fashion .paragraphe{
    font-size: 5rem;
}
.fashion .detail, .street .detail{
    font-size: 1.5rem;
    margin-left: 2.5rem;
    width: 30%;
}
.titre1{
    font-size: 3rem;
}


section.street{
    position: relative;
    bottom: 45rem;
    z-index: 3;
    background-color:#1f1f1f;
    transition: bottom 0.5s ease;       
 }

 section.street.down{
    bottom: 40rem;
    transition: bottom 0.5s ease;     
}

.img-presentation1{
    margin-top: -14rem;
    margin-left: 70rem;
    display: inline-block;
    width: 25%;
}


 .img-presentation1 img{
   border-radius: 6px;
   opacity: 1;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: opacity 0.4s ease;
 }

 .img-presentation1 img:hover{
    opacity: 0.7;
 }

/* footer */


footer{
    position: relative;
    margin-top:-8rem;
}

.information-container{
    padding: 1rem;
    bottom: 25rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    z-index: 20;
}

.info{
  margin-top: 20rem;
  color: white;
}

.info a{
    text-decoration: none;
    color: white;
}
.information-container .location{
    font-size: 4rem;
    color: white;
}

footer .portfolio{
    margin: 0 auto;
    font-size: 18rem;
    font-weight: 300;
    color: white;
}


.back1 img{
    width: 100%;
}

.back1{
    position: absolute;
    z-index: -10;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
}
.gris{
    color: rgba(0, 0, 0, 0.378);
}

/* parti animation photo*/
.img-presentation{
    margin-top: -20rem;
    margin-left: 70rem;
    display: inline-block;
    width: 25%;
}


 .img-presentation img{
    border-radius: 6px;
    opacity: 1;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.4s ease, opacity 0.4s ease;
 }

 .img-presentation img:hover{
    opacity: 0.7;
    transform: scale(1.1); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ajouter une ombre */
 }


 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
    user-select: none;
}



.container{
    visibility:hidden;
    position: fixed; /* Fixé sur l'écran */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0; 
    overflow: hidden;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    transition: opacity 0.5s ease, visibility 0.5s ease;

}

 .container.open {
        visibility: visible;
        opacity: 1; /* Devient visible en douceur */
        z-index: 10;
 }


.container.closing {
    opacity: 0;
    visibility: hidden;
}

.minimap{
    position: absolute;
    top: 90%;
    width: 100%;
    height: 100px;
    left: 50rem;
}

.img-preview{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 75%;
    overflow: hidden;
}

.img-preview img{
    position:absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    height: 100%;
    object-fit: contain;
}

.items{

    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    will-change: transform;
    gap: 0px;
}

.item{
    cursor: pointer;
    width: 5%;
    height: 70px;
    padding: 5px ;
}

.indicator{
  position:absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  border:2px solid rgb(203, 203, 203); 
  width: 5%;
  height: 70px;
  z-index: 2;
}
 .mini-nav{
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    color: black;
 }


.nom{
    color: black;
    border-bottom: 1px solid black;
}
.back{
    color: black;
    border-bottom: 1px solid black;
}

