
:root{
    ---font-family:"Inter", sans-serif;
    --font-color:#FFFFFF: 
}


*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(---font-family);
}


header{
    margin: 1rem auto ;
    padding: 0 3rem;
    position: relative;
    /* border: 1px solid black; */
    height: 76px; 
    max-width:100%;
    display: flex;
    justify-content: space-between;
    
}


nav .links{
    display: flex;
}

nav .links li{
    list-style: none;
}
nav .links li a{
    text-decoration: none;
    color: black;
    
}

main{
    min-height: 65vh;
    max-width: 100%;
    position:relative; 
    box-sizing: border-box;
}
span{
    color: white;
}
/* SECTION ABOUT */
section{
    cursor: pointer;
  border-radius:17px;
  padding: 1.6rem 0;
  width: 100%;
  max-height: 100vh;
  color: rgba(255, 255, 255, 0.723);
}

section.about{
background-color:#21478D;
}  


.entete{
    display: flex;
    justify-content: space-between;
}
.titre{
    font-size: 3rem;
}

.titre::after{
    position: absolute;
    content: "";
    top:2.5rem; 
    left: 17.5rem;
    background-color:rgba(255, 255, 255, 0.723) ;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}


.number-fleche{
    /* border: 1px solid black; */
    width: 250px;
    display: flex;
    text-align: center;
    justify-content:space-around;
    margin-right:4rem ;
}

.number-fleche p{
    font-size: 2rem;
}
 /* arrow */
#arrow{
    margin-top: -1rem;
    font-size: 4rem;
    transition: transform 0.5s ease;
}

#arrow.turn{
     transform : rotate(180deg); 
     transition: transform 0.5s ease;
}



#arrow1{
    margin-top: -1rem;
    font-size: 4rem;
    transition: transform 0.5s ease;
}

#arrow1.turn{
     transform : rotate(180deg); 
     transition: transform 0.5s ease;
}


.paragraphe{
    /* border:1px solid black;  */
    font-size: 2.5rem;
    width: 55%;
    margin-left: 2rem;
    margin-top: 4rem;
}

.date{
    margin-left: 60rem;
    font-size: 11rem;
    /*border:1px solid black;*/
    height: 250px;
}


section.work{
 background-color:#EE2525;
 position: relative;
 bottom: 25rem;
 transition: bottom 0.5s ease;
}
section.work.down{
    bottom: 5rem;
    transition: bottom 0.5s ease;
}   
.mot{
    /* border: 1px solid black; */
    display: inline-block;
    margin-top: 1rem;
    margin-left: 60rem;
    font-size: 3rem;
    height: 350px;
}


section.portrait{
    position: relative;
    bottom: 40rem;
    background-color:#36791C;
    z-index: 3;
    transition: bottom 0.5s ease;       
   }
   section.portrait.down{
    bottom: 20rem;
    transition: bottom 0.5s ease;     
   }


.portrait .paragraphe{
    font-size: 5rem;
}

.titre1{
    font-size: 3rem;
}
  

 
